<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Badminton e Parabadminton{% endblock %}</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo do Torneio" style="max-width: 130px;">
        <h1>Badminton e Parabadminton</h1>
        <nav>
            <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/partidas">Partidas</a></li>
            <li><a href="/classificacao">Classificação</a></li>
            <li><a href="/comentarios">Comentários</a></li>
            <li><a href="/historia">História</a></li>
            <li><a href="/galeria">Galeria</a></li>
            <li><a href="/noticias">Notícias</a></li>
            {% if session.get('usuario') %}
                <li><a href="/logout">Logout</a></li>
                {% if session.get('tipo') == "administrador" %}
                <li><a href="/dashboard">Dashboard</a></li>
                {% endif %}
            {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/registro">Registrar</a></li>
            {% endif %}
            </ul>
        </nav>
        
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Badminton e Parabadminton</p>
    </footer>
</body>
</html>
